@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}
.container {
  max-width: 90%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  padding: 10px;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
input,
button {
  border: none;
  outline: none;
  background-color: none;
}
.row {
  width: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}


.contentWidth {
  width: 77%;
}
.category {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}
.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}

.btn-primary {
  background: #a03d16;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading i {
  color: #df7a28;
  margin: 10px;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}

.product{
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3, 0, 71 /10%)0 1px 3px;
  margin: 10px;
  border: 2px solid rgb(230, 227, 227);
}
.product h3{
  font-weight: 400;
  font-size: 18px;
}

.product .rate i{
  font-size: 15px;
  color: #ffcd4e;
  margin:5px 5px 5px  0;
}
.product .price{
  display: flex;
  justify-content: space-between;
  color: #a03d16;
}
.product button{
  background: none;
  color: #4b2506;
  font-size: 20px;
  border: 1px solid rgb(3, 0, 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: 0.5s;
}
.product button:hover{
  cursor: pointer;
  background: #df7a28;
  color: #fff;
}
.product-like{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.product-like label{
  background-color: #df7a28;
  padding: 1px 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.product-like i{
  font-size: 20px;
  margin: 10px 3px;
  color: #a03d16;

}

.product:hover  .product-like{
  opacity: 1;
  cursor: pointer;
}


.control-btn .next,
.control-btn .prev{
  position: absolute;
  top: 40;
  width: 50px;
  height: 50px;
  line-height: 40px;
  background: #df8f6f;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
}
.control-btn .prev{
  left: -5px;
  top: 90px;

}
.control-btn .next {
  right: -5px;
  top: 110px;
}
.control-btn .next i,
.control-btn .prev i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .next:hover,
.control-btn .prev:hover{
  background: #d67424;
  color: #fff;
  cursor: pointer;
}
.heading .heading-left i{
  font-size: 25px;
  
}
.heading .heading-left h2{
  font-size: 25px;
  margin: 5px;
  color: grey;
}
.heading .heading-right ,
.heading .heading-right i{ 
  text-align: right;
  color: grey;
}

.heading .heading-left i{
  text-align: right;
  color: #cc814f;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.grid2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}